<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
  <head th:replace="fragments/header_inc::head">
    <title>Admin Dashboard</title>
  </head>
  <body >
   
    <div th:insert="fragments/header::header"></div>
      <div id="wrapper">
      <div th:insert="fragments/sidebar::sidebar"></div>
     
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Welcome to library system</h1>
        <p class="lead">Welcome<strong class="ml-2" th:text="${username}"></strong>, You are free to edit everything ! Enjoy with it</p>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <h5 class="m-4">Add More book</h5>
        </div>
        <div class="col-md-6 d-flex justify-content-start align-items-center">
          <a th:href="@{/admin/add}" class="btn btn-outline-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a>
        </div>
      </div>

      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="input-group mb-3">
              <input type="text" id="bookSearchBox" class="form-control mr-sm-2" placeholder="Search" />
            </div>
          </div>
        </div>
      </div>
     
      <div class="row my-5">
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <h5 class="m-4">Add More publisher</h5>
        </div>
        <div class="col-md-6 d-flex justify-content-start align-items-center">
          <a th:href="@{/admin/publisher}" class="btn btn-outline-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a>
        </div>
      </div>
      <div class="row m-3"></div>
      <div class="col-md-12">
        <table class="table">
          <caption>
            Publisher
          </caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Publisher</th>
              <th scope="col">Publisher Description</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="pub : ${pub}">
              <tr class="edit">
                <th scope="row" th:text="${pub.id}"></th>
                <td th:text="${pub.publisher}" class="publisher"></td>
                <td th:text="${pub.publisherDescription}" class="publisherDescription"></td>
                <td><a th:href="@{/admin/update/{id}(id=${pub.id})}" class="btn btn-outline-primary">Update</a></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <div class="row my-5">
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <h5 class="m-4">Add More Author</h5>
        </div>
        <div class="col-md-6 d-flex justify-content-start align-items-center">
          <a th:href="@{/admin/author}" class="btn btn-outline-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a>
        </div>
      </div>
      <div class="row m-3"></div>
      <div class="col-md-12">
        <table class="table">
          <caption>
            Authors
          </caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Author Name</th>
              <th scope="col">Author Summary</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="author : ${aut}">
              <tr class="edit">
                <th scope="row" th:text="${author.id}"></th>
                <td th:text="${author.authorName}" class="author"></td>
                <td th:text="${author.authorSummary}" class="summary"></td>
                <td><a th:href="@{/admin/update/{id}(id=${author.id})}" class="btn btn-outline-primary">Update</a></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <div th:insert="fragments/footer::footer"></div>

  </body>
</html>
