<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
  <head th:replace="fragments/header_inc::head">
    <title>Add Book</title>
  </head>
  <body>
    <div th:insert="fragments/header::header"></div>
    <div id="wrapper">
     <div th:insert="fragments/sidebar::sidebar"></div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h4>Add Book</h4>
          <!--Book Image feature will added-->
          <form th:action="@{/admin/add_book}" th:object="${book}"  method="POST" enctype="multipart/form-data">
          <div class="card mb-3">
            <div class="form-group">
              <label for="uploadBookFoto"> Upload Book Photo</label>
              <input type="file" name="file" class="form-control-file">
            </div>
            <img
              th:src="@{/images/pexels-stanislav-kondratiev-2908984.jpg}"
              class="card-img-top d-none"
              alt="bookshelf"
              height="550"
              style="object-fit: cover"
            />
            <div class="card-body">             
                <!--Author-->
                <div class="form-group">
                  <label for="authorAd">Author</label>
                  <select class="form-control" name="authorId" th:value="${authorId}" th:required="true">
                      <option disabled selected value="">-- Select One --</option>
                      <option th:each="author : ${author}" th:value="${author.id}" th:text="${author.authorName}" class="id"></option>
                  </select>
                </div>
                <!--Book Title-->
                <div class="form-group">
                  <label for="bookTitle">Book Name</label>
                  <input type="text" th:field="*{bookTitle}" class="form-control" th:required="true" />
                </div>
                <!--Subtitle-->
                <div class="form-group">
                  <label for="subTitle">Subtitle</label>
                  <input type="text" th:field="*{subTitle}" class="form-control" th:required="true"/>
                </div>
                <!--Publisher-->
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Publisher</label>
                  <select class="form-control" name="publishId" th:value="${publishId}" th:required="true">
                    <option disabled selected value="">-- Select One --</option>
                    <option th:each="publisher : ${publisher}" th:value="${publisher.id}" th:text="${publisher.publisher}" class="id"></option>
                  </select>
                </div>
                <!--Isbn-->
                <div class="form-group">
                  <label for="isbNumber">Isbn</label>
                  <input type="text" th:field="*{isbn}" class="form-control" th:required="true"/>
                </div>
                <!--Series Name-->
                <div class="form-group">
                  <label for="seriesName">Series name</label>
                  <input type="text" th:field="*{seriesName}" class="form-control" th:required="true" />
                </div>
                <!--Description-->
                <div class="form-group">
                  <label for="interPretation">Description</label>
                  <input type="text" th:field="*{bookDescription}" class="form-control" th:required="true" />
                </div>
                <button type="submit" class="btn btn-outline-success btn-sm btn-block">
                  Add <i class="fa fa-pluss" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div th:insert="fragments/footer::footer"></div>
  </body>
</html>
