<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header_inc::head">
    <title>Register</title>
  </head>
  <body class="h-100">
    <div th:insert="fragments/header::header"></div>
    <div class="container h-75">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-transparent d-flex justify-content-around align-items-center">
              <p class="text-center h1">Free Inc</p>
              <i class="fa fa-book fa-2x text-success" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <form th:action="@{/auth/signup}" class="needs-validation" novalidate th:object="${user}" method="POST">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" th:field="*{userName}" placeholder="username" class="form-control" required="true" />
                  <div class="valid-feedback">Looks Good</div>
                  <div class="invalid-feedback">Provide a Username</div>
                </div>
                <div class="form-group">
                  <label for="firstName">Firstname</label>
                  <input type="text" th:field="*{firstName}" placeholder="Firstname" class="form-control" required="true" />
                  <div class="valid-feedback">Looks Good</div>
                  <div class="invalid-feedback">Provide a Firstname</div>
                </div>
                <div class="form-group">
                  <label for="lastName">Lastname</label>
                  <input type="text" th:field="*{lastName}" placeholder="Lastname" class="form-control" required="true" />
                  <div class="valid-feedback">Looks Good</div>
                  <div class="invalid-feedback">Provide a Lastname</div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" th:field="*{email}" placeholder="Email" class="form-control" required="true" />
                  <div class="valid-feedback">Looks Good</div>
                  <div class="invalid-feedback">Provide a valid email</div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" th:field="*{password}" placeholder="password" class="form-control" required="true" />
                  <div class="valid-feedback">Looks Good</div>
                  <div class="invalid-feedback">Provide valid password</div>
                </div>
                <button type="submit" class="btn btn-block btn-sm btn-outline-success">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:insert="fragments/footer::footer"></div>
  </body>
</html>
