<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
  <head th:replace="fragments/header_inc::head">
    <title>Admin Dashboard</title>
  </head>
  <body>
   
    <div th:insert="fragments/header::header"></div>
      <div id="wrapper">
        <div class="position-absolute">
          <div th:insert="fragments/sidebar::sidebar"></div>
        </div>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Welcome to library system</h1>
            <p class="lead">Welcome<strong class="ml-2" th:text="${username}"></strong>, You are free to add book ! Enjoy with it</p>
          </div>
        </div>
      <div class="container">
        <div class="row my-5">
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <h5 class="m-4">Add More book</h5>
          </div>
          <div class="col-md-6 d-flex justify-content-start align-items-center">
            <a th:href="@{/moderator/add}" class="btn btn-outline-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="input-group mb-3">
              <input type="text" id="bookSearchBox" class="form-control mr-sm-2" placeholder="Search" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
         <div class="row">
          <div class="col-md-12">
            <div class="scrollspy-example" data-spy="scroll" data-target="#list-example" data-offset="0">
              <th:block th:each="book : ${book}">
                <div class="card mb-3 " id="filterCard" >
                  <div class="row no-gutters">
                    <div class="col-md">
                      <img th:src="@{/images/eco.jpg}" class="card-img" alt="books" />
                    </div>
                    <div class="col-md-10">
                      <div class="card-body " >
                        <h5 class="card-title" th:text="${book.bookTitle}">Card title</h5>
                        <p class="card-text" th:text="${book.bookDescription}"></p>
                        <p class="card-text" th:text="${book.author.authorName}"></p>
                        <p class="card-text" th:text="${book.isbn}"></p>
                        <p class="card-text" th:text="${book.subTitle}"></p>
                        <p class="card-text" th:text="${book.seriesName}"></p>
                        <p class="card-text" th:text="${book.publisher.publisher}"></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent">
                    <div class="row justify-content-between">
                      <div class="col-md-4">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                      <div class="col-md-2 d-flex flex-row mr-3">
                        <a th:href="@{/moderator/update/{id}(id=${book.id})}" class="btn btn-outline-primary mr-3">Update</a>

                        <form th:action="@{/admin/delete/{id}(id=${book.id})}" sec:authorize="hasRole('ADMIN')" th:object="${book}" th:method="POST">
                          <Button type="submit" class="btn btn-outline-danger"> Delete</Button>
                        </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
  </div>


  <div th:insert="fragments/footer::footer"></div>

  </body>
</html>
